# {{ metadata.title }}
{% set total = namespace(value=0) %}
{%- for ingredient in ingredients if ingredient.quantity %}
{%- set info = db('ingredients.' ~ ingredient.name) %}
{%- if info.price_per_unit %}
{%- set cost = (ingredient.quantity.value | float) * (info.price_per_unit | float) %}
- {{ info.item | default(ingredient.name | title) }}: EGP {{ cost | round(2) }}
{%- set total.value = total.value + cost %}
{%- endif %}
{%- endfor %}
- Total: EGP {{ total.value | round(2) }}
